server:
  port: 8081
spring:
  application:
    name: billing-service
  datasource:
    url: jdbc:postgresql://localhost:5433/billing_replica?useSSL=false&serverTimezone=UTC
    username: billing_replica
    password: replicapassword
  jpa:
    generate-ddl: true
    show-sql: true
    hibernate:
      ddl-auto: update